/*
  developer  Name: Mena Nashaat
  email: nashaatmena87@gmail.com
  ontime.com
  17/3/2019
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
    font-family: 'AXtManalBLack';
    src: url('../fonts/AXtManalBLack.eot');
    src: url('../fonts/AXtManalBLack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AXtManalBLack.woff2') format('woff2'),
        url('../fonts/AXtManalBLack.woff') format('woff'),
        url('../fonts/AXtManalBLack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
  background: #fff;
  color: #444;
  
}

a {
  color: #1bb1dc;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/
.dark-color
{
  color: #082428 !important;
}
.sec-color
{
  color: #9a9696;
}
.section-title .title {
  font-size: 36px;
  font-size: 39px;
  font-weight: 500;
 
  
  background: -webkit-linear-gradient(left,#88b58d , #e6e408);
  background: -o-linear-gradient( right, #88b58d , #e6e408);
  background: -moz-linear-gradient( right, #88b58d , #e6e408);
  background: linear-gradient(to right, #88b58d , #e6e408);
  color: transparent;
  -webkit-background-clip: text;
  }
  

.title:after {
    content: ' ';
    display: block;
    width: auto;
    height: 30px;
    margin: -34px 0 0 0;
    background-image: url(../img/border1.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}
/* Section with background
--------------------------------*/
.m-t-em-1
{
  margin-top: 1em;
}
/* Section with background
--------------------------------*/
.section-padd
{
  padding: 60px 0 30px 0;
}
.section-bg {
  background: #f5f8fd;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background-image: linear-gradient(to bottom right, #d5e058, #61dda1);
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #1bb1dc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 110px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}


#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #413e66;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0px 0;
  max-height: 39px;
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro .content
{
  padding-top: 13em
}
#intro {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f5f8fd url("../img/Untitled-1.jpg")  no-repeat;
  background-size: cover;
  background-position-y: bottom;

}

#intro .intro-info h2 {
  color: #413e66;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

#intro .intro-info h2 span {
  color: #1bb1dc;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  font-family: 'AXtManalBLack';
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #1bb1dc;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover,
#intro .intro-info .btn-services:hover {
  background: #0a98c0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #082428;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
 
  text-transform: uppercase;
  font-weight: 600;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
 
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #59dba5), color-stop(0.15, #59dba5), color-stop(0.3, #92df7f), color-stop(0.45, #86de88), color-stop(0.6, #d3e456),color-stop(0.75, #e1e54d), color-stop(0.9, #e1e54d), color-stop(1, #e8e649) );
  background-image: gradient( linear, left top, right top, color-stop(0, #59dba5), color-stop(0.15, #59dba5), color-stop(0.3, #92df7f), color-stop(0.45, #86de88), color-stop(0.6, #d3e456),color-stop(0.75, #e1e54d), color-stop(0.9, #e1e54d), color-stop(1, #e8e649) );
  color: transparent;
  -webkit-background-clip: text;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #1bb1dc;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(234, 232, 75, 0.91);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #082428;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #59dba5), color-stop(0.15, #59dba5), color-stop(0.3, #92df7f), color-stop(0.45, #86de88), color-stop(0.6, #d3e456),color-stop(0.75, #e1e54d), color-stop(0.9, #e1e54d), color-stop(1, #e8e649) );
  background-image: gradient( linear, left top, right top, color-stop(0, #59dba5), color-stop(0.15, #59dba5), color-stop(0.3, #92df7f), color-stop(0.45, #86de88), color-stop(0.6, #d3e456),color-stop(0.75, #e1e54d), color-stop(0.9, #e1e54d), color-stop(1, #e8e649) );
  color: transparent;
  -webkit-background-clip: text;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #065e77;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(105, 196, 160, 0.79);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}



/* About Us Section
--------------------------------*/

#about {
  padding: 80px 0;
}
#about  iframe{
  width: 100%;
  height: 16em;
}

#about .about-content {
  padding-top: 40px;
}
#clients .owl-carousel .owl-nav button.owl-prev, #clients .owl-carousel .owl-nav button.owl-next
{
  outline: none
}
#clients .owl-carousel.owl-drag .owl-item
{
  padding: 2em;
  height: 150px;
  display: flex
}

#clients .owl-carousel .owl-item img
{
  -webkit-align-self: center; /* Safari 7.0+ */
  align-self: center;
}
#clients .owl-carousel .owl-nav.disabled {
  display: block;
}

.clients-carousel .owl-prev
{
  background-color: #309e9f;
  border-radius: 15px;
  cursor: pointer;
  height: 36px;
  top: -3em;
  line-height: 0 !important;
  width: 50px;
  position: absolute;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  border: 2px solid #a3d47b !important;
  right: 3em;
  font-size: 2em !important;
  color: #a5d379 !important;
}
.clients-carousel .owl-next
{

  background-color: #309e9f;
  border-radius: 15px;
  cursor: pointer;
  height: 36px;
  top: -3em;
  line-height: 0 !important;
  width: 50px;
  position: absolute;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  border: 2px solid #a3d47b !important;
  right: 1em;
  font-size: 2em !important;
  color: #a5d379 !important;
}
#clients .owl-next:hover, #clients .owl-prev:hover
{
  border: 2px solid #d2df5b !important;
  color: #d2df5b !important;
}
@media only screen and (max-width:768px) {
  .owl-next, .owl-prev
  {
    display: none
  }
}



/* Services Section
--------------------------------*/
#services {
  width: 100%;
  position: relative;
  background: #f5f8fd url("../img/services-bg.jpg") right top no-repeat;
  background-size: cover;
}
#services {
  padding: 60px 0 40px 0;
  
}
#services .title
{
  color: #fff;
}
#services .desc 
{
  color: #f9f8f8;
}
#services .box , #services img
{
  position: relative;
  width: 100%;
}
#services img
{

  cursor: pointer;
}
#services .service-name
{
  position: absolute;
    right: 1em;
    z-index: 3;
    top: 51px;
    width: 117px;
    font-weight: 600;
}

/* mechanism Section
--------------------------------*/
#mechanism {
  width: 100%;
  position: relative;
  background: #f5f8fd url("../img/mechanism-bg.jpg") left top no-repeat;
  background-size: cover;
  height: 100%;
}
#mechanism {
  padding: 60px 0 40px 0;
  
}
#mechanism .team {
  padding-top: 4em
  
}

.media-heading
{
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}





/* Portfolio Section
--------------------------------*/

#portfolio {
  padding: 60px 0;
  background: #eae549
}
#portfolio .title, .section-title
{
  color: #082428
}
#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 20px;
  color: #413e66;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  color: #1bb1dc;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #1bb1dc;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #f8fcff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #1bb1dc;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  padding-top: 11px;
  font-size: 14px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #42c3e8;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
  background-image: linear-gradient(to bottom right, #e7e64a, #000000);
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

#portfolio .des_portfolio
{
  text-align: justify;
  padding: 1em 0;
}
/* Testimonials Section
--------------------------------*/

#testimonials {
  padding: 60px 0;
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  float: left;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
  margin-left: 140px;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
  margin-left: 140px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 140px;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #1bb1dc;
}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  padding: 25px 0 20px 0;
  font-size: 14px;
  background: #082428;
  color: #fff;
}


#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}


/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 991px) {
  #call-to-action .cta-btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  #intro .intro-info {
    padding-top: 80px;
  }

  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px) {
 
  #header {
    height: 70px;
    padding: 15px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #why-us .why-us-content {
    padding-top: 30px;
  }

  #pricing {
    padding-bottom: 30px;
  }

  #pricing .card {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }

  #faq #faq-list a {
    font-size: 18px;
  }

  #faq #faq-list i {
    top: 13px;
  }
  .title:after
  {
    display: none
  }
}

@media (max-width: 767px) {
  #intro .content
  {
  padding-top: 1em
  }
  #intro {
    height: auto;
    padding: 80px 0 60px 0;
  }

  #intro .container {
    height: auto !important;
  }

  #intro .intro-img {
    
    padding: 1em 3em 1em;
  }

  #intro .intro-info {
    text-align: center;
    padding-top: 40px;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimonials .testimonial-item {
    text-align: center;
  }

  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #footer .footer-top .social-links a {
    margin-bottom: 25px;
  }
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}



/*--------------------------------------------------------------
# social-nav
--------------------------------------------------------------*/

.social-nav {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 10px auto;
}
.social-nav li {
  display: inline-block;
}
.social-nav a {
  display: inline-block;
  float: left;
  width: 48px;
  height: 40px;
  font-size: 20px;
  color: #082428;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  font-size: 1em;
  position: relative;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.model-0 {
  position: absolute;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    z-index: 99;
    transition: 0.5s;
    left: 0;
    padding: 4em 0;
    top: 35%;
    background: url(../img/social-background.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.model-0 li {
  float: none;
  display: block;
}
.model-0 a:hover {
  padding-left: 10px;
  width: 65px;
}




/*
* modal
*
*/
.modal-content
{
  background: #fef900;
    border-radius: 62px;
    border: 0;
}
.modal-header
{
  border-bottom: none
}
.modal-header .close {
  padding: 1rem 3rem;
}